article {
    #title {
        h1 {
            font-size: 360%;
        }
    }
    #description {
        p {
            font-size: 1.3rem;
            line-height: 1.4em;
        }
    }

    p {
        line-height: 1.7em;
        font-size: 1rem;
    }
}
