article {
    figure {
        max-width: 100%;
        overflow: visible;
        position: relative;
    }

    figcaption {
        font-size: 1vw;
        line-height: 1.5em;
        padding: 1em 0 0 0;
        position: absolute;
        top: 0;
        text-align: right;
        left: -9vw;
        width: 8vw;
    }
}
