extends partial/layout

block content
    #title
        h1 有趣的建站过程
    p.
        通过 AWS 的 S3 服务建立一个静态站点，籍此得到可持续更新，免费的 HTTPS 证书。还有 Bot 自动做 CI 部署，推送到 S3 上。
    .diviver-curly-short
    p.
        Lorem Ipsum.......
