- var hexo_url = "https://hexo.io/";
- var brutalist_url = "https://github.com/zypeh/hexo-theme-brutalist";
- var currentDate = new Date();
- var year = currentDate.getFullYear();
- year = year == theme.startyear ? year : theme.startyear + ' - ' + year;
p © #{year} #[a(href=config.url)!= config.author], powered by #[a(href=hexo_url, target="_blank") Hexo] and #[a(href=theme_url, target="_blank") hexo-theme-brutalist].
