doctype
html(lang=config.language)
    head
        include head
    body
        .container
            //- include scripts
            .wrapper
                .side-nav
                    .side-nav-inner
                        include nav
                        .divider
                        .metadata
                            p.
                                此文章发布于 8 月 19 日 (星期六)

                .spacing
                    .spacing-inner

                main(role="main")
                    .content
                        header
                            block header
                        block content
        footer
            include footer