nav
    ul
        each value, key in theme.menu
            li
                - var re = /^(http|https):\/\/*/gi;
                - var tar = re.test(value) ? "_blank" : "_self"
                - var act = !re.test(value) && "/"+page.current_url === value
                a(class={active: act} href=url_for(value) target=tar)
                    != key.toUpperCase()
