
.side-nav {
    margin-top: 50px;

    &-inner {
        width: 100px;
    }
}

.side-nav {
    margin-left: 40px;

    .side-nav-inner {
        overflow: auto;
        position: fixed;
    }

    nav {
        font-family: $fontstack-sans-serif;
        font-size: 0.8rem;
        font-weight: bold;
        text-align: right;
        text-transform: uppercase;

        a {
            color: $text-color;
            text-decoration: none;

            &:hover {
                color: $text-color;
                text-decoration: none;
            }
        }
    }
}
